@model IEnumerable<QualityGolf.Models.Planes>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Suscripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadClases)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClasesMes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadClases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClasesMes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanesID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlanesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanesID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
